.navBar {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
    padding-top: 1ch;
    width: 100%;
}

.navBar li {
    list-style: none;
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: 3ch;
    cursor: pointer;
    
}

.icon {
    margin-left: 2rem;
}

.link{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    .navBar li {
        font-size: 0.8rem;
    }

    .icon {
        margin-left: 0rem;
    }

    .navBar {
       justify-content: center;
       padding-top: 1rem;
    }

  }