.container{
    position: absolute;
    z-index: 10;
    bottom:20%;
    background-color: white;
    padding-inline: 3rem;
    padding-block: 1rem;
    border-radius: 20px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between; /* Alinea los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 3rem;
    
}

.icon{
    width: 1.6ch;
    height: 1.7ch;

}

.iconLine{
    display: flex;
    gap: 1ch;
    align-items: center;
    /* background-color: blue; */
}

.text2{
    padding-top: 1ch;
    font-weight: 600;
    color: rgb(155, 155, 155);
    white-space: nowrap;
}

.text1{
    font-weight: 500;
    white-space: nowrap;
    /* color: red; */
}

.button{
    background-color: transparent;
    border: 2px solid #EF3648;
    padding-block: 1ch;
    padding-inline: 1.5ch;
    color: #EF3648;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    /* Aquí van los estilos específicos para pantallas móviles */
    .container {
      width: 90vw;
      background: red;
      bottom: 2rem;
    }
    /* Otros estilos específicos para pantallas móviles */
  }